*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:90%;
    height: 1000px;
    background-color: aquamarine;
    margin: auto;
}

header > img {
    height: 50px;
    border-right: 1px solid lightgray;
    padding-right: 5px;

}

